.margin-zero {
    margin: 0;
}

.margin-top-zero {
    margin-top: 0;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-bot-20 {
    margin-bottom: 20px;
}

.margin-bot-80 {
    margin-bottom: 80px;
}

.margin-left-right-auto {
    margin-left: auto;
    margin-right: auto;
}

.content-margin {
    margin-top: 50px;
    margin-bottom: 50px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-bot-15 {
    padding-bottom: 15px;
}

.content-padding {
    padding-left: 100px;
    padding-right: 100px;
}